.footer {
  width: 100%;
  background-color: black;
  color: white;
  height: 3em;
  text-align: center;
  position: fixed;
  bottom:0;
  line-height: 1.7;
}

h3 {
  padding:0;
  margin:0;
  line-height: 1.7;
}

.panel {
  border-radius: 0px;
}

.middle-panel {
  margin-top: 0.5em;
  margin-bottom: 4em;
}

.container {
  margin-top: 0em;
}

.welcome {
  margin-top: 5em;
}

.message {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}

.btn {
  border-radius: 0px;
}

.alert {
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
}

element.style {
  margin-top: 4em;
}

.login-top {
  margin-top: 4em;
}

.login-bottom {
  padding-bottom: 0px;
}
