<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
      
      <head>
        <title>Admin Home</title>
    </head>
    <body>
		<h1>This is admin home page</h1>
    	<div layout:fragment="content" class="container">
			<div class="welcome">Welcome <b>Admin Home</b>(<span sec:authentication="principal.username">Admin</span>)</div>
	        <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
			<p><a th:href="@{/}">Root</a></p>
			<p><a th:href="@{/new_message}">New Message</a></p>
			<p><a th:href="@{/admin/home}">To Admin home</a></p>
    	</div>
    </body>

</html>