<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<title>User Home</title>
</head>
<body>
	<div layout:fragment="content" class="container login left-0">
		<div class="welcome">
			Welcome <span sec:authentication="principal.username">User</span>
		</div>
		<p>
			<a th:href="@{/}">Root</a>
		</p>
		<p>
			<a th:href="@{/logout}">Logout</a>
		</p>

		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<h3>You will see this only if you are <b>ADMIN</b></h3>
			<p>
				<a th:href="@{/admin/home}">Admin Home</a>
			</p>
		</div>
		<h3>Write a message:</h3>
		<form th:action="@{/messages}" method="post">
			<textarea name="content" cols="50" rows="3"></textarea>
			<br>
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<div class="panel panel-default middle-panel">
			<div class="panel-heading">Messages</div>
			<div class="message" th:each="msg: ${msgs}" th:text="${msg.n} + '. ' + ${msg.content}"></div>
		</div>
	</div>

</body>

</html>